    /*****
    * Card Component
    */

    /* card { ... } */
    .card-cmp {
    position: relative;
    display: inline-block !important;

    width: 14%;

        .card-wrapper{
            position: relative;
            transform-style: preserve-3d;
            transition: all .5s;

            .front-face {
                transform: rotateY(180deg);
            }

            .back-face {
                position: absolute;
                top:0;
            }
        }

        .card-wrapper:hover {
            cursor: pointer;
        }
        .card-wrapper:active {
            transform: scale(0.97);
            transition: transform .2s;
        }

        .card-wrapper.flip {
            transform: rotateY(180deg);
        }
    }



    .card-cmp .card-wrapper .front-face,
    .card-cmp .card-wrapper .back-face {
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
